body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: #B1E914;
    text-transform: uppercase;
    font-family: 'Itim', cursive;
}
main {
    background-color: #686DD8;
    padding: 50px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 5px;
}
main > p {
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #BABC47;
}
input[type="number"] {
    margin-right: 15px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 0;
    flex-basis: 40%;
}
